.gamefilter {
    width: 100vw;
    
    padding-top: 100px;
    padding-left: 200px;
}
@media (min-width: 500px) {
    
}

.gamefilter-container {
    padding-top: 20px;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

@media (max-width: 500px) {
    .gamefilter-container {
        flex-direction: column;
        align-items: start;
        
        width: 150px;
    }
    .gamefilter{
        padding-left: 20%;
    }

   
}


.gamefilter-container select {
    height: 30px;
    width: 150px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    appearance: none;
    
}
.select-dark{
    background-color: #2E3440;
    color: white;
}
.select-light{
    background-color: rgb(237, 245, 253);
    color: black;
}



.container {
    height: max-content;
    padding-bottom: 20px;
    padding-left: 200px;
}



.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

  
   width: 100%;
   height: 60px;
   padding-left: 200px;
   padding-bottom: 20px;
}
.page-dark{
    background-color: #2E3440;
}
.page-dark:hover{
    background-color: #2f323a;
}
.page-light{
    background-color: rgb(203, 217, 232);
}
.page-light:hover{
    background-color: #7b8598;
}
.pagination button {

   
    border: none;
 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #ccc;
    
    cursor: not-allowed;
}



.pagination span {
    font-size: 18px;
    margin: 0 15px;
}

.sortingfilter {
    width: 100px;
}