

.gamecontainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 5px;
    padding-top: 20px;
    flex-wrap: wrap;
    width: 98vw;
    padding-left: 20%;
}

@media (min-width: 500px) {
    .gamecontainer {
        padding-left: 200px;
        column-gap: 1.5rem;
    }
}






/* Skeleton Card Placeholder */
.skeleton-card {
    width: 225px;
    height: 260px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    transition: 0.3s;
}

/* Skeleton Image Placeholder */
.skeleton-image {
    width: 100%;
    height: 160px;
    background-color: #e0e0e0;
    animation: pulse 1.5s infinite ease-in-out;
}

/* Skeleton Info Section */
.skeleton-info {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Skeleton Title Placeholder */
.skeleton-title {
    width: 80%;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
}

/* Skeleton Rating Placeholder */
.skeleton-rating {
    width: 30%;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 3px;
    animation: pulse 1.5s infinite ease-in-out;
}

/* Pulse Animation */
@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #cfcfcf;
    }

    100% {
        background-color: #e0e0e0;
    }
}

@keyframes plusdark {
    0% {
        background-color: #47536b;
    }

    50% {
        background-color: #65728c;
    }

    100% {
        background-color: #47536b;
    }
}

.skeleton-contaier{
   column-gap: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}

.skeleton-card-dark{
    width: 225px;
    height: 260px;
    border-radius: 8px;
    background-color: #2C3548;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    transition: 0.3s;
}


.skeleton-title-dark {
    width: 80%;
    height: 12px;
    background-color: #647087;
    border-radius: 4px;
    animation: pulsedark 1.5s infinite ease-in-out;
}

.skeleton-image-dark {
    width: 100%;
    height: 160px;
    background-color: #647087;
    animation: pulsedark 1.5s infinite ease-in-out;
}
.skeleton-rating-dark {
    width: 30%;
    height: 12px;
    background-color: #647087;
    border-radius: 3px;
    animation: pulsedark 1.5s infinite ease-in-out;
}