.sidebar {
    position: fixed;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 200px;
    padding-left: 35px;
    height: 100vh;
    overflow-y: scroll;

}



.sidebar-game {
    text-decoration: none;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-bottom: 7px;
}

.sidebar-game img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 10%;
    transition: 0.5s;
}




.sidebar-game:hover p {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar-game:hover img {
    transform: scale(1.1);

}


@media (max-width: 500px) {
    .burger {
        display: block;
    }
    .sidebar {
        display: none;
    }
}

.burger {
    position: absolute;
    top: 50px;
    margin-left: 22px;
    font-size: 30px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 80px;
    left: 30px;
    border-radius: 10px;
    height: 350px;
    overflow: scroll;
    z-index: 100;
}

