
.sidebar{
    position: fixed;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;   
    width: 200px;
    padding-left: 35px;
    height: 100vh;
    overflow-y: scroll;
    
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar h1{
    font-size: 22px;
    margin-bottom: 10px;
    
}
.sidebar-game{
    text-decoration: none;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-bottom: 7px;
}
.sidebar-game img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 10%;
    transition: 0.5s;
}





.sidebar-game:hover p{
    text-decoration: underline;
    cursor: pointer;
}
.sidebar-game:hover img{
    transform: scale(1.1);
    
}
.active-link{
    font-weight: bold;
}