@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
.color-mode {
  background-color: #1A202C;

}
.dark-mode{
  background-color: #1A202C;
  transition: 0.3s;
}
.light-mode{
  transition: 0.3s;
  background-color: white;
}
.text-dark{
  color: white;
  transition: 0.3s;
}
.text-light{
  color: black;
  transition: 0.3s;
}
