@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
.color-mode {
  background-color: #1A202C;

}
:root {
   background-color: #1A202C;
}
.text-dark{
  color: white;
}
.text-light{
  color: black;
}